.board {
  --board-size: 304px;
  --cell-size: 66px;
  position: relative;
  width: var(--board-size);
  height: var(--board-size);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(4, var(--cell-size));
  background: var(--primary-background);
  padding: 8px;
  border-radius: 24px;
  gap: 8px;
}

.cell {
  border-radius: calc(var(--pixel-size) * 2);
  background: var(--cell-background);
  box-shadow: var(--cell-shadow);
}

.tiles {
  margin: 8px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .board {
    --board-size: 319px;
    --cell-size: 70px;
  }
}

@media (min-width: 1440px) {
  .board {
    --board-size: 260px;
    --cell-size: 55px;
  }
}
